.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  margin: 20px auto;
  border: 1px solid #000;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: #3774ff;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-0 {
  background: #83a9ff;
}
.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}
