{:hooks {:macroexpand {mxreact.mxreact/mk hooks.mxreact.mxreact/mk
                       mxreact.mxreact/mkc hooks.mxreact.mxreact/mk
                       mxreact.mxreact/mk-reagent hooks.mxreact.mxreact/mk

                       ;; generated configuration for tags
                       mxreact.mxreact/input hooks.mxreact.mxreact/tag
                       mxreact.mxreact/textarea hooks.mxreact.mxreact/tag
                       mxreact.mxreact/option hooks.mxreact.mxreact/tag
                       mxreact.mxreact/select hooks.mxreact.mxreact/tag
                       mxreact.mxreact/a hooks.mxreact.mxreact/tag
                       mxreact.mxreact/abbr hooks.mxreact.mxreact/tag
                       mxreact.mxreact/address hooks.mxreact.mxreact/tag
                       mxreact.mxreact/area hooks.mxreact.mxreact/tag
                       mxreact.mxreact/article hooks.mxreact.mxreact/tag
                       mxreact.mxreact/aside hooks.mxreact.mxreact/tag
                       mxreact.mxreact/audio hooks.mxreact.mxreact/tag
                       mxreact.mxreact/b hooks.mxreact.mxreact/tag
                       mxreact.mxreact/base hooks.mxreact.mxreact/tag
                       mxreact.mxreact/bdi hooks.mxreact.mxreact/tag
                       mxreact.mxreact/bdo hooks.mxreact.mxreact/tag
                       mxreact.mxreact/big hooks.mxreact.mxreact/tag
                       mxreact.mxreact/blockquote hooks.mxreact.mxreact/tag
                       mxreact.mxreact/body hooks.mxreact.mxreact/tag
                       mxreact.mxreact/br hooks.mxreact.mxreact/tag
                       mxreact.mxreact/button hooks.mxreact.mxreact/tag
                       mxreact.mxreact/canvas hooks.mxreact.mxreact/tag
                       mxreact.mxreact/caption hooks.mxreact.mxreact/tag
                       mxreact.mxreact/cite hooks.mxreact.mxreact/tag
                       mxreact.mxreact/code hooks.mxreact.mxreact/tag
                       mxreact.mxreact/col hooks.mxreact.mxreact/tag
                       mxreact.mxreact/colgroup hooks.mxreact.mxreact/tag
                       mxreact.mxreact/data hooks.mxreact.mxreact/tag
                       mxreact.mxreact/datalist hooks.mxreact.mxreact/tag
                       mxreact.mxreact/dd hooks.mxreact.mxreact/tag
                       mxreact.mxreact/del hooks.mxreact.mxreact/tag
                       mxreact.mxreact/details hooks.mxreact.mxreact/tag
                       mxreact.mxreact/dfn hooks.mxreact.mxreact/tag
                       mxreact.mxreact/dialog hooks.mxreact.mxreact/tag
                       mxreact.mxreact/div hooks.mxreact.mxreact/tag
                       mxreact.mxreact/dl hooks.mxreact.mxreact/tag
                       mxreact.mxreact/dt hooks.mxreact.mxreact/tag
                       mxreact.mxreact/em hooks.mxreact.mxreact/tag
                       mxreact.mxreact/embed hooks.mxreact.mxreact/tag
                       mxreact.mxreact/fieldset hooks.mxreact.mxreact/tag
                       mxreact.mxreact/figcaption hooks.mxreact.mxreact/tag
                       mxreact.mxreact/figure hooks.mxreact.mxreact/tag
                       mxreact.mxreact/footer hooks.mxreact.mxreact/tag
                       mxreact.mxreact/form hooks.mxreact.mxreact/tag
                       mxreact.mxreact/h1 hooks.mxreact.mxreact/tag
                       mxreact.mxreact/h2 hooks.mxreact.mxreact/tag
                       mxreact.mxreact/h3 hooks.mxreact.mxreact/tag
                       mxreact.mxreact/h4 hooks.mxreact.mxreact/tag
                       mxreact.mxreact/h5 hooks.mxreact.mxreact/tag
                       mxreact.mxreact/h6 hooks.mxreact.mxreact/tag
                       mxreact.mxreact/head hooks.mxreact.mxreact/tag
                       mxreact.mxreact/header hooks.mxreact.mxreact/tag
                       mxreact.mxreact/hr hooks.mxreact.mxreact/tag
                       mxreact.mxreact/html hooks.mxreact.mxreact/tag
                       mxreact.mxreact/i hooks.mxreact.mxreact/tag
                       mxreact.mxreact/iframe hooks.mxreact.mxreact/tag
                       mxreact.mxreact/img hooks.mxreact.mxreact/tag
                       mxreact.mxreact/ins hooks.mxreact.mxreact/tag
                       mxreact.mxreact/kbd hooks.mxreact.mxreact/tag
                       mxreact.mxreact/keygen hooks.mxreact.mxreact/tag
                       mxreact.mxreact/label hooks.mxreact.mxreact/tag
                       mxreact.mxreact/legend hooks.mxreact.mxreact/tag
                       mxreact.mxreact/li hooks.mxreact.mxreact/tag
                       mxreact.mxreact/link hooks.mxreact.mxreact/tag
                       mxreact.mxreact/main hooks.mxreact.mxreact/tag
                       mxreact.mxreact/map hooks.mxreact.mxreact/tag
                       mxreact.mxreact/mark hooks.mxreact.mxreact/tag
                       mxreact.mxreact/menu hooks.mxreact.mxreact/tag
                       mxreact.mxreact/menuitem hooks.mxreact.mxreact/tag
                       mxreact.mxreact/meta hooks.mxreact.mxreact/tag
                       mxreact.mxreact/meter hooks.mxreact.mxreact/tag
                       mxreact.mxreact/nav hooks.mxreact.mxreact/tag
                       mxreact.mxreact/noscript hooks.mxreact.mxreact/tag
                       mxreact.mxreact/object hooks.mxreact.mxreact/tag
                       mxreact.mxreact/ol hooks.mxreact.mxreact/tag
                       mxreact.mxreact/optgroup hooks.mxreact.mxreact/tag
                       mxreact.mxreact/output hooks.mxreact.mxreact/tag
                       mxreact.mxreact/p hooks.mxreact.mxreact/tag
                       mxreact.mxreact/param hooks.mxreact.mxreact/tag
                       mxreact.mxreact/picture hooks.mxreact.mxreact/tag
                       mxreact.mxreact/pre hooks.mxreact.mxreact/tag
                       mxreact.mxreact/progress hooks.mxreact.mxreact/tag
                       mxreact.mxreact/q hooks.mxreact.mxreact/tag
                       mxreact.mxreact/rp hooks.mxreact.mxreact/tag
                       mxreact.mxreact/rt hooks.mxreact.mxreact/tag
                       mxreact.mxreact/ruby hooks.mxreact.mxreact/tag
                       mxreact.mxreact/s hooks.mxreact.mxreact/tag
                       mxreact.mxreact/samp hooks.mxreact.mxreact/tag
                       mxreact.mxreact/script hooks.mxreact.mxreact/tag
                       mxreact.mxreact/section hooks.mxreact.mxreact/tag
                       mxreact.mxreact/small hooks.mxreact.mxreact/tag
                       mxreact.mxreact/source hooks.mxreact.mxreact/tag
                       mxreact.mxreact/span hooks.mxreact.mxreact/tag
                       mxreact.mxreact/strong hooks.mxreact.mxreact/tag
                       mxreact.mxreact/style hooks.mxreact.mxreact/tag
                       mxreact.mxreact/sub hooks.mxreact.mxreact/tag
                       mxreact.mxreact/summary hooks.mxreact.mxreact/tag
                       mxreact.mxreact/sup hooks.mxreact.mxreact/tag
                       mxreact.mxreact/table hooks.mxreact.mxreact/tag
                       mxreact.mxreact/tbody hooks.mxreact.mxreact/tag
                       mxreact.mxreact/td hooks.mxreact.mxreact/tag
                       mxreact.mxreact/tfoot hooks.mxreact.mxreact/tag
                       mxreact.mxreact/th hooks.mxreact.mxreact/tag
                       mxreact.mxreact/thead hooks.mxreact.mxreact/tag
                       mxreact.mxreact/time hooks.mxreact.mxreact/tag
                       mxreact.mxreact/title hooks.mxreact.mxreact/tag
                       mxreact.mxreact/tr hooks.mxreact.mxreact/tag
                       mxreact.mxreact/track hooks.mxreact.mxreact/tag
                       mxreact.mxreact/u hooks.mxreact.mxreact/tag
                       mxreact.mxreact/ul hooks.mxreact.mxreact/tag
                       mxreact.mxreact/var hooks.mxreact.mxreact/tag
                       mxreact.mxreact/video hooks.mxreact.mxreact/tag
                       mxreact.mxreact/wbr hooks.mxreact.mxreact/tag
                       mxreact.mxreact/circle hooks.mxreact.mxreact/tag
                       mxreact.mxreact/clipPath hooks.mxreact.mxreact/tag
                       mxreact.mxreact/ellipse hooks.mxreact.mxreact/tag
                       mxreact.mxreact/g hooks.mxreact.mxreact/tag
                       mxreact.mxreact/line hooks.mxreact.mxreact/tag
                       mxreact.mxreact/mask hooks.mxreact.mxreact/tag
                       mxreact.mxreact/path hooks.mxreact.mxreact/tag
                       mxreact.mxreact/pattern hooks.mxreact.mxreact/tag
                       mxreact.mxreact/polyline hooks.mxreact.mxreact/tag
                       mxreact.mxreact/rect hooks.mxreact.mxreact/tag
                       mxreact.mxreact/svg hooks.mxreact.mxreact/tag
                       mxreact.mxreact/text hooks.mxreact.mxreact/tag
                       mxreact.mxreact/defs hooks.mxreact.mxreact/tag
                       mxreact.mxreact/linearGradient hooks.mxreact.mxreact/tag
                       mxreact.mxreact/polygon hooks.mxreact.mxreact/tag
                       mxreact.mxreact/radialGradient hooks.mxreact.mxreact/tag
                       mxreact.mxreact/stop hooks.mxreact.mxreact/tag
                       mxreact.mxreact/tspan hooks.mxreact.mxreact/tag}}
 :linters {:clojure-lsp/unused-public-var {:exclude #{mxreact.mxreact}}}}
