{:hooks {:macroexpand
         {tiltontec.util.ref/def-rmap-props hooks.tiltontec.util.ref/def-rmap-props
          tiltontec.util.ref/def-rmap-meta-props hooks.tiltontec.util.ref/def-rmap-meta-props

          tiltontec.util.trace/wtrx hooks.tiltontec.util.trace/wtrx
          tiltontec.util.trace/trx hooks.tiltontec.util.trace/trx

          tiltontec.model.core/def-mget hooks.tiltontec.model.core/def-mget

          tiltontec.cell.core/cF hooks.tiltontec.cell.core/c-f
          tiltontec.cell.core/cF+ hooks.tiltontec.cell.core/c-f+
          tiltontec.cell.core/cFn hooks.tiltontec.cell.core/c-f
          tiltontec.cell.core/cF+n hooks.tiltontec.cell.core/c-f+
          tiltontec.cell.core/cFonce hooks.tiltontec.cell.core/c-f
          tiltontec.cell.core/cF1 hooks.tiltontec.cell.core/c-f
          tiltontec.cell.core/cF_ hooks.tiltontec.cell.core/c-f+
          tiltontec.cell.core/c_F hooks.tiltontec.cell.core/c-f+
          tiltontec.cell.core/c-formula hooks.tiltontec.cell.core/c-f+

          tiltontec.cell.synapse/with-synapse hooks.tiltontec.cell.synapse/with-synapse
          tiltontec.cell.synapse/cSyn hooks.tiltontec.cell.synapse/cSyn

          tiltontec.matrix.api/fn-watch hooks.tiltontec.matrix.api/fn-watch

          tiltontec.matrix.api/cF hooks.tiltontec.cell.core/c-f
          tiltontec.matrix.api/cFonce hooks.tiltontec.cell.core/c-f
          tiltontec.matrix.api/cF+ hooks.tiltontec.cell.core/c-f+}}
 :linters {:clojure-lsp/unused-public-var {:exclude #{tiltontec.cell.base
                                                      tiltontec.cell.core
                                                      tiltontec.cell.dag
                                                      tiltontec.cell.diagnostic
                                                      tiltontec.cell.evaluate
                                                      tiltontec.cell.integrity
                                                      tiltontec.cell.poly
                                                      tiltontec.cell.synapse
                                                      tiltontec.cell.watch
                                                      tiltontec.matrix.api
                                                      tiltontec.model.accessors
                                                      tiltontec.model.core
                                                      tiltontec.model.family
                                                      tiltontec.model.navigate
                                                      tiltontec.util.core
                                                      tiltontec.util.ref
                                                      tiltontec.util.trace}}}}
